
#sidebar.panel
  .categories
    h3#categories-title Categories
    ul#categories.list-group
      - each cat in getCategories()
        li.list-group-item
          a(href=categoryURL(cat)) #{cat} (#{postsWithCategory(cat).length})
  .tags
    h3#tags-title Tags
    ul#tags.list-group
      - each tag in getTags()
        li.list-group-item
          a(href=tagURL(tag)) #{tag} (#{postsWithTag(tag).length})

script(type="text/javascript").
  var tagsList = $('#sidebar ul#tags');
  var catList = $('#sidebar ul#categories');

  $('#sidebar .tags')
    .click(function(e) {
      tagsList.toggle("slow");
  });

    $('#sidebar .categories')
    .click(function(e) {
      catList.toggle("slow");
  });
