
#sidebar.panel
  h3  Categories
  ul#categories.list-group
    - each cat in getCategories()
      li.list-group-item
        a(href=categoryURL(cat)) #{cat} (#{postsWithCategory(cat).length})
  h3 Tags
  ul#tags.list-group
    - each tag in getTags()
      li.list-group-item
        a(href=tagURL(tag)) #{tag} (#{postsWithTag(tag).length})
